API_URL=https://eloquent-optimism-production-350a.up.railway.app
FRONTEND_URL=https://homeiq.ie
DATABASE_URL=postgresql://postgres.jyezhkgevzejhundypxn:<password>@aws-0-eu-west-1.pooler.supabase.com:5432/postgres
